@{
    ViewData["Title"] = "Projeto de cadastro de usuários";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao cadastro de usuários</h1>
    <img src="~/images/users.gif" />
</div>
